<div class="container">
  <div class="col-md text-center">
    <h2>Welcome!</h2>
    <%= link_to "Coupon Code", generate_code_path, method: :post, class: "btn
    btn-primary addbutton couponbutton" %>
  </div>
</div>
<% if @code %>
<p>Your coupon code is: <%= @code %></p>
<% end %>
