<div class="container">
        <div class="col-md text-center">
        <h1>Welcome!</h1>
<p>Claim your weekly coupon!</p>
<button>Claim</button>
</div>
</div>


<%= button_to "Generate Code", coupon_codes_generate_code_path, method: :get, class: "btn btn-primary" %>