<div class="container text-center">
<div class="row align-items-center">
<% @restaurants.each do |restaurant| %>
<div class="col-md-4 indextag">
    <%= link_to restaurant do %>
    <div class="logoset">
        <%= image_tag(restaurant.logo, class: "logo") %>
       <div><%= restaurant.name %></div>
    </div>
    <% end %>
</div>
<% end %>
</div>
</div>




