body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #361103,
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181),
    rgb(213, 196, 181)
  );
  z-index: -1;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

nav {
  font-size: 1.4em;
  font-weight: bolder;
  padding-top: 1em;
  padding-bottom: 1em;
}

a:link {
  text-decoration: none;
}

.nav-link {
  transition: transform 0.2s;
}

.adminbutton {
  display: inline-flex;
}

.nav-link:hover {
  transform: scale(1.1);
  color: blanchedalmond;
}

.small-image {
  width: 250px;
  height: 200px;
}

.cover {
  max-width: 250px;
  height: 200px;
}

.imageset {
  width: 500px;
  height: 350px;
}

.logo {
  width: 150px;
  height: 100px;
}

.newres {
  padding-left: 8em;
  padding-top: 2em;
}
.logoset {
  padding-bottom: 5em;
  transition: transform 0.2s;
  color: white;
}

.logoset:hover {
  color: rgb(254, 177, 54);
  transform: scale(1.1);
}

.photoset {
  padding-right: 5em;
}

.infotag {
  text-align: left;
}

.description {
  font-style: italic;
}

.keyname {
  font-weight: bolder;
  font-size: 2em;
}

.optionset {
  transition: transform 0.2s;
}

.optionset:hover {
  cursor: pointer;
  background-color: rgb(234, 231, 153);
  color: rgb(220, 139, 68);
  transform: scale(1.2);
  font-weight: bolder;
}

.addbutton {
  background-color: rgb(203, 76, 76);
  color: white;
  transition: transform 0.2s;
}

.addbutton:hover {
  background-color: rgb(203, 76, 76);
  color: orange;
  transform: scale(1.1);
}

p {
  text-align: center;
  color: black;
}

.nametag {
  color: white;
}
.nametag:hover {
  color: orange;
}

.edit-delete:hover {
  resize: vertical;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked {
  background-color: rgb(200, 76, 179);
}

h2 {
  padding-bottom: 1em;
  color: rgb(205, 115, 36);
}

.edittag {
  padding-bottom: 1.5em;
}

.indextag {
  padding-top: 1.5em;
}
