body {
  background-color: rgb(186, 132, 132);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

nav {
  font-size: 1.2em;
  background-color: rgb(255, 202, 43);
  padding-top: 1em;
  padding-bottom: 1em;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

a:link {
  text-decoration: none;
}

.nav-link {
  transition: transform 0.2s;
  display: inline-flex;
}

.nav-link:hover {
  transform: scale(1.1);
  color: blanchedalmond;
}

.small-image {
  width: 250px;
  height: 200px;
}

.cover {
  max-width: 250px;
  height: 200px;
}

.logo {
  width: 250px;
  height: 150px;
}

.logoset {
  padding-bottom: 5em;
  transition: transform 0.2s;
  color: white;
}

.logoset:hover {
  color: rgb(254, 177, 54);
  transform: scale(1.1);
}

.photoset {
  padding-right: 5em;
}

.infotag {
  text-align: left;
}

.description {
  font-style: italic;
}

.keyname {
  font-weight: bolder;
  font-size: 2em;
}

.optionset {
  transition: transform 0.2s;
}

.optionset:hover {
  cursor: pointer;
  background-color: rgb(234, 231, 153);
  color: rgb(220, 139, 68);
  transform: scale(1.2);
  font-weight: bolder;
}

.addbutton {
  background-color: rgb(203, 76, 76);
  color: white;
}

.addbutton:hover {
  background-color: rgb(203, 76, 76);
  color: orange;
}

p {
  text-align: center;
  color: black;
}

.nametag {
  color: white;
}
.nametag:hover {
  color: orange;
}

.edit-delete {
  /* border-color: blueviolet; */
  /* background-color: rgb(208, 88, 88); */
}

.edit-delete:hover {
  resize: vertical;
}
