body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1ba098, #deb992, #8fdede, #1ba098);
  z-index: -1;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

nav {
  font-size: 1.4em;
  font-weight: bolder;
  padding-top: 1em;
  padding-bottom: 1em;
}

a:link {
  text-decoration: none;
}

p {
  text-align: center;
  color: #07413d;
  font-size: 20px;
  padding-top: 1em;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked {
  background-color: rgb(255, 255, 255);
}

h2 {
  padding-bottom: 1em;
  color: #045b55;
}

.nav-link {
  transition: transform 0.2s;
}

.nav-link:hover {
  transform: scale(1.1);
  color: blanchedalmond;
}

.adminbutton {
  display: inline-flex;
}

.restaurantset {
  padding-top: 5em;
  padding-bottom: 5em;
}

.small-image {
  width: 250px;
  height: 200px;
}

.cover {
  max-width: 250px;
  height: 200px;
}

.imageset {
  width: 500px;
  height: 350px;
}

.logo {
  width: 150px;
  height: 100px;
}

.newres {
  padding-left: 8em;
  padding-top: 2em;
}

.logoset {
  padding-bottom: 5em;
  transition: transform 0.2s;
  color: white;
}

.logoset:hover {
  color: #1ba098;
  transform: scale(1.1);
}

.photoset {
  padding-right: 5em;
}

.infotag {
  text-align: left;
}

.description {
  font-style: italic;
  padding-bottom: 1em;
}

.keyname {
  font-weight: bolder;
  font-size: 1.8em;
  color: #024641;
}

.optionset {
  transition: transform 0.2s;
  font-size: 18px;
  color: #1ba098;
}

.optionset:hover {
  cursor: pointer;
  background-color: rgb(234, 231, 153);
  font-weight: bolder;
}

.citytag {
  margin-top: -1em;
  margin-bottom: -3em;
}

.addbutton {
  background-color: #1da79e;
  color: white;
  transition: transform 0.2s;
  margin-left: 1em;
  margin-right: 1em;
}

.addbutton:hover {
  background-color: #157e79;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.nametag {
  color: white;
}

.nametag:hover {
  color: rgb(229, 81, 81);
}

.edittag {
  padding-bottom: 1.5em;
}

.indextag {
  padding-top: 2em;
}

.showfont {
  font-size: 16px;
  color: #055d57;
  font-weight: 900;
}

.information {
  margin-bottom: -0.5em;
}

.couponbutton {
  margin-top: 5em;
}

.selectionbutton {
  margin-top: -2em;
}

.searchbutton {
  margin-top: 1.5em;
}

@media (min-width: 1500px) {
  .topmargin {
    margin-top: 3em;
  }
}
